Repository ca-cwds/API, pull requests merged in 2018-08, with the labels that each got.

#627 Adarsh build functional testing
  src/test/functional/java/gov/ca/cwds/api/ScreeningToReferralTest.java
  src/test/functional/java/gov/ca/cwds/api/builder/HttpRequestHandler.java
  src/test/functional/java/gov/ca/cwds/api/hoi/ClientAuthorizeForSocialWorkerTest.java
  src/test/functional/java/gov/ca/cwds/api/hoi/ClientsHistoryOfInvolvementTest.java
  src/test/functional/java/gov/ca/cwds/api/hoi/HoiReferralsForSocialWorkerTest.java
  src/test/functional/java/gov/ca/cwds/api/referrals/validation/VictimBirthTest.java
  src/test/functional/java/gov/ca/cwds/api/screeningparticipant/ScreeningParticipantPostRequestTest.java
Labels: Functional Tests

#630 Fix for db2 docker container .
  src/main/java/gov/ca/cwds/data/persistence/xa/WorkFerbUserInfo.java
Labels: Refactor

#634 Remove functional test and smoke tests from docker build
  build.gradle
Labels: Jenkins Build Fix

#637 Adarsh build functional testing
  src/test/functional/java/gov/ca/cwds/api/ScreeningToReferralTest.java
  src/test/functional/java/gov/ca/cwds/api/hoi/ClientsHistoryOfInvolvementTest.java
  src/test/functional/java/gov/ca/cwds/api/hoi/HoiReferralsForSocialWorkerTest.java
  src/test/functional/java/gov/ca/cwds/api/referrals/validation/VictimBirthTest.java
  src/test/functional/java/gov/ca/cwds/api/screeningparticipant/ScreeningParticipantPostRequestTest.java
Labels: Functional Tests

#640 Refactored the dao's to grabSession();
  src/main/java/gov/ca/cwds/data/cms/AssignmentDao.java
  src/main/java/gov/ca/cwds/data/cms/CaseDao.java
  src/main/java/gov/ca/cwds/data/cms/ClientAddressDao.java
  src/main/java/gov/ca/cwds/data/cms/ClientDao.java
  src/main/java/gov/ca/cwds/data/cms/ClientScpEthnicityDao.java
  src/main/java/gov/ca/cwds/data/cms/CmsDocReferralClientDao.java
  src/main/java/gov/ca/cwds/data/cms/ReporterDao.java
  src/main/java/gov/ca/cwds/data/dao/contact/ContactPartyDeliveredServiceDao.java
  src/main/java/gov/ca/cwds/data/dao/contact/IndividualDeliveredServiceDao.java
  src/main/java/gov/ca/cwds/data/dao/contact/ReferralClientDeliveredServiceDao.java
  src/main/java/gov/ca/cwds/data/dao/investigation/InjuryBodyDetailDao.java
  src/main/java/gov/ca/cwds/data/dao/investigation/InjuryHarmDetailDao.java
  src/main/java/gov/ca/cwds/data/ns/AddressesDao.java
  src/main/java/gov/ca/cwds/data/ns/AgencyDao.java
  src/main/java/gov/ca/cwds/data/ns/AllegationIntakeDao.java
  src/main/java/gov/ca/cwds/data/ns/CrossReportDao.java
  src/main/java/gov/ca/cwds/data/ns/CsecDao.java
  src/main/java/gov/ca/cwds/data/ns/LegacyDescriptorDao.java
  src/main/java/gov/ca/cwds/data/ns/ParticipantAddressesDao.java
  src/main/java/gov/ca/cwds/data/ns/ParticipantPhoneNumbersDao.java
  src/main/java/gov/ca/cwds/data/ns/PhoneNumbersDao.java
  src/main/java/gov/ca/cwds/data/ns/RelationshipDao.java
  src/main/java/gov/ca/cwds/data/ns/ScreeningAddressDao.java
  src/main/java/gov/ca/cwds/data/ns/ScreeningDao.java
  src/main/java/gov/ca/cwds/rest/services/ScreeningService.java
  src/test/functional/java/gov/ca/cwds/test/suite/SmokeTestSuite.java
Labels: Refactor

#641 api-core gradle update and HOI and relationship fix in the HotLine.
  build.gradle
  src/main/java/gov/ca/cwds/data/ns/ParticipantDao.java
  src/main/java/gov/ca/cwds/rest/services/ParticipantIntakeApiService.java
Labels: Bug Fix

#650 Hot 1928 Tech Debt Drools Capability to API
  build.gradle
  src/main/java/gov/ca/cwds/inject/ServicesModule.java
  src/main/java/gov/ca/cwds/rest/api/domain/SafelySurrenderedBabies.java
  src/main/java/gov/ca/cwds/rest/business/rules/SafelySurrenderBabiesDroolsConfiguration.java
  src/main/java/gov/ca/cwds/rest/services/ParticipantIntakeApiService.java
  src/main/java/gov/ca/cwds/rest/services/cms/SpecialProjectReferralService.java
  src/main/resources/safely-surrender-babies-rules/R-07993.drl
  src/main/resources/safely-surrender-babies-rules/auto-discovery
  src/main/resources/safely-surrender-babies-rules/kmodule.xml
  src/test/java/gov/ca/cwds/rest/services/SpecialProjectReferralServiceTest.java
  src/test/java/gov/ca/cwds/rest/services/cms/SpecialProjectReferralServiceTest.java
Labels: Business Rule

#655 Ferb API version update
  build.gradle
Labels: Gradle Update

#664 HOT-2256 Small refactor to the existing SSB rule and added Test case
  src/main/java/gov/ca/cwds/health/resource/LovDbCheck.java
  src/main/java/gov/ca/cwds/rest/services/cms/SpecialProjectReferralService.java
  src/test/java/gov/ca/cwds/rest/business/rules/doctool/R07993Test.java
Labels: JUnit

#668 Added few Acceptance Test for clients HOI
  build.gradle
  docker/ferb-test/config/testConfig.yml
  src/main/java/gov/ca/cwds/rest/business/rules/R00818SetReferredResourceType.java
  src/main/java/gov/ca/cwds/rest/business/rules/R00824SetDispositionCode.java
  src/test/functional/java/gov/ca/cwds/api/FunctionalTest.java
  src/test/functional/java/gov/ca/cwds/api/hoi/acceptancetest/HOIByClientsForSocialWorker.java
  src/test/functional/java/gov/ca/cwds/rest/authenticate/CwdsLoginType.java
  src/test/java/gov/ca/cwds/rest/business/rules/doctool/R00807ReferralResponseTypeCantBeEvaluateOutTest.java
  src/test/java/gov/ca/cwds/rest/business/rules/doctool/R00824SetDispositionCodeTest.java
Labels: Functional Tests

#677 HOT 1509 Implement R05584 business rule
  src/main/java/gov/ca/cwds/rest/api/domain/cms/Address.java
  src/main/java/gov/ca/cwds/rest/business/rules/ReferralAddressDroolsConfiguration.java
  src/main/java/gov/ca/cwds/rest/services/cms/AddressService.java
  src/main/java/gov/ca/cwds/rest/services/cms/ReferralService.java
  src/main/resources/referral-address-rules/R-05584.drl
  src/main/resources/referral-address-rules/auto-discovery
  src/main/resources/referral-address-rules/kmodule.xml
  src/test/java/gov/ca/cwds/rest/business/rules/R00797SensitiveReferralAssignmentTest.java
  src/test/java/gov/ca/cwds/rest/business/rules/doctool/R04537FirstResponseDeterminedByStaffPersonIdTest.java
  src/test/java/gov/ca/cwds/rest/business/rules/doctool/R05559SetPrimaryContactStaffPersonIdTest.java
  src/test/java/gov/ca/cwds/rest/business/rules/doctool/R05584Test.java
  src/test/java/gov/ca/cwds/rest/business/rules/doctool/R07577CreateDummyDocsForReferralTest.java
Labels: Business Rule, Drools Engine

#682 FIT-133 refactor screening participant FT
  src/test/functional/java/gov/ca/cwds/api/FunctionalTest.java
  src/test/functional/java/gov/ca/cwds/api/screeningparticipant/IntakeParticipantPostForSocialWorkerTest.java
Labels: Functional Tests

#690 HOT-2281 Participant Date Of Birth can not be in future
  src/main/java/gov/ca/cwds/rest/api/domain/ScreeningToReferral.java
  src/main/java/gov/ca/cwds/rest/validation/ParticipantBirthValidator.java
  src/main/java/gov/ca/cwds/rest/validation/ValidParticipantBirth.java
  src/main/java/gov/ca/cwds/rest/validation/VictimBirthValidator.java
  src/test/java/gov/ca/cwds/rest/business/rules/doctool/R00786VictimAgeRestrictionTest.java
  src/test/java/gov/ca/cwds/rest/validation/ParticipantBirthValidatorTest.java
  src/test/resources/fixtures/domain/ScreeningToReferral/valid/missingLegacySourceTable.json
  src/test/resources/fixtures/domain/ScreeningToReferral/valid/missingReferralId.json
  src/test/resources/fixtures/domain/ScreeningToReferral/valid/missingSafetyAlerts.json
  src/test/resources/fixtures/domain/ScreeningToReferral/valid/withoutPerpetratorParticipant.json
Labels: New Feature

#692 Gradle Version update
  build.gradle
Labels: Gradle Update

#693 Fit 133 refactor screening participant ft
  src/test/functional/java/gov/ca/cwds/api/FunctionalTest.java
  src/test/functional/java/gov/ca/cwds/api/referrals/validation/ParticipantDobTest.java
  src/test/functional/java/gov/ca/cwds/api/referrals/validation/VictimBirthTest.java
  src/test/functional/java/gov/ca/cwds/api/screeningparticipant/IntakeParticipantPostForSocialWorkerTest.java
  src/test/resources/fixtures/gov/ca/cwds/rest/resources/screening-basic-post-request.json
Labels: Functional Tests
